<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meshyog.emptycan" >
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/watercancircle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme"

        android:name=".model.AppConfig">


        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.UserSignInActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.UserProfileActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.HomeActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.UserSignUpActivity" android:windowSoftInputMode="stateHidden"
             android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.BookCanFormActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.AddressFormActivity" android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".references.MyOrdersList" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
       <!-- <activity android:name=".references.NotificationList" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>-->
      <!--  <activity android:name=".references.Profile" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>-->
        <activity android:name=".controller.OrderDetailsActivity"  android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.AddressListActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.MyOrdersEndlessListActivity"  android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.ReferralFormActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".controller.LocationSearchActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.AddressFormActivity" />
        </activity>

        <activity android:name=".controller.NotificationListActivity">
            <intent-filter>
                <action android:name="NOTIFICATION_BOOTH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.MyOrderDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            </activity>
        <activity android:name=".controller.BasicProfileEditActivity"  android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.UserProfileActivity" />

            </activity>


       <!-- <activity android:name=".Register">
        </activity>

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".NotificationList"/>-->
        <service
            android:name="com.meshyog.emptycan.model.EmptyCanFirebaseReceiver" android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.meshyog.emptycan.model.EmptyCanFirebaseInstanceID">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDElRgNGXe4hZKZTpxZIrT9SY8oTwqV9qk"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>